*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 100px;
  width: 100vw;
  background-color: #0E0E0E;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo img{
  width: 200px;
  padding: 20px;
}

main{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #141414;
}

.riquadro{
  margin-top: 100px;
  background-color: red;
  position: relative;
}

.riquadro:hover{
  cursor: pointer;
  opacity: 0.2;
}

.riquadro .data{
  position: absolute;
  top: 0;
}
