<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <title>Boolflix</title>
</head>
<body>
  <div id="app">
    <header>
      <!-- search zone -->
      <input type="text" @keyup.enter="retrieveData" v-model="query" value="">
      <button type="button" name="button">
        search
      </button>
      <!-- /search zone -->


    </header>


    <main>
      <!-- div di formattazione -->
      <!-- <div class="riquadro" >
        <h2>
        </h2>
        <h3>
        </h3>
        <h5>
        </h5>
        <h6>
        </h6>
      </div>
      <div class="riquadro"></div>
      <div class="riquadro"></div>
      <div class="riquadro"></div>
      <div class="riquadro"></div>
      <div class="riquadro"></div>
      <div class="riquadro"></div>
      <div class="riquadro"></div>
      <div class="riquadro"></div> -->
      <!-- /div di formattazione -->

      <!-- film -->
      <div class="riquadro" v-for="movie in risultatiMovie">
        <img :src="url + imgSize + movie.poster_path" :alt="movie.original_title">
        <h2>
          {{ movie.title }}
        </h2>
        <h3>
          {{ movie.original_title}}
        </h3>
        <h5>
          {{ movie.original_language }}
        </h5>
        <h6>
          {{ movie.vote_average }}
        </h6>
      </div>
      <!-- /film -->



      <!-- serie tv -->
      <div class="riquadro" v-for="tv in risultatiTv">
        <img :src="url + imgSize + tv.poster_path" :alt="tv.original_name">
        <h2>
          {{ tv.name }}
        </h2>
        <h3>
          {{ tv.original_name}}
        </h3>
        <h5>
          {{ tv.original_language }}
        </h5>
        <h6>
          {{ tv.vote_average }}
        </h6>
      </div>
      <!-- /serie tv -->




    </main>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
